html {
    font-size: 100%;
}

.userCard-main-div {
    margin: auto;

}

.userdata-main-div {
    background-color: white;
    padding: 1rem 2rem;
    width: 70%;
    margin: auto;
    position: relative;



}

.updatemodel-main-div{
    background-color: white;
    z-index: 3;
    position: absolute;
    padding: 1.5rem;
    top: 2%;
    left: 10%;
    width: 30vw;

}
.updatemodel-main-div>hr{
    width: 100%;
    margin: 1rem 0;

}

.updatemodel-editprofile-text-div {
    display: flex;
}

.updatemodel-editprofile-x-button {
    border: 0;
    margin-left: auto;
    background-color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.updatemodel-editprofile-avatar-div{
    display: flex;
   
}
.updatemodel-image-main-div{

margin: auto;
}
.updatemodel-image-div {
    position: relative;
    width: 6ch;
    height: 6ch;
    border-color: 2px solid black;
}

.updatemodel-editprofile-avatar-icon{
    color: black;
    font-weight: 900;
    border-radius: 50%;
    font-size: 1.3rem;
    position: absolute;
    right:  0%;
    bottom: 0;
    cursor: pointer;
    z-index: 4;
}
.updatemodel-editprofile-avatar-text{
margin-right: 1.2rem;
}

.updatemodel-image{
    border-radius: 50%;
    width: 6ch;
    height: 5ch;
}

.userCard-header-div {
    display: flex;
    text-align: left;
    align-items: center;
    background-color: rgb(187, 212, 212);
    padding: 1rem;


}
.update-userdata-input{
    margin-left: auto;
    width: 60%;
    border-radius: 1rem;
    border-color: 1px solid black;
    outline: none;
}
.update-userdata-button-div{
   text-align: right;
    width: 100%;
    margin-top: 2rem;

}
.update-userdata-button{
    width: max-content;
    border-radius: 1rem;
    background-color: black;
    color: gold;
    padding: 0.7rem;
    cursor: pointer;
}

.userCard-header-icon {
    font-size: 2rem;
    margin-top: 1rem;
    cursor: pointer;

}

.userCard-header-text {
    margin-left: 2rem;
    margin-top: 1rem;

}

.userCard-header-text-name {
    margin: 0;

}

.userCard-header-text-posts {
    margin: 0;

}

.userdata-div {
    text-align: left;
    display: flex;



}



.userdata-image {
    width: 30%;
    height: 17ch;
    border-radius: 50%;
}

.userdata-firstname-div {

    margin: auto;
    margin-top: 1rem;
    margin-left: 1.5rem;

}

.userdata-firstname {
    font-weight: bolder;
    font-size: 1.3rem;

}

.userCard-website-div {
    display: flex;
}

.userCard-follow-button-div {
    margin-left: auto;
    margin-right: 0rem;
    margin-top: 1rem;
    display: flex;

}

.userCard-follow-button {
    background-color: rgb(78, 43, 43);
    color: rgb(248, 212, 7);
    padding: 0.5rem;
    border-radius: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
}

.edit-profile-button-div {
    position: relative;


}

.edit-profile-button {
    cursor: pointer;
    font-size: 1.8rem;
    background-color: white;
    border: 0;
    border-radius: 50%;
}

.edit-profile-text {
    background-color: rgb(243, 248, 247);
    box-shadow: 2px 2px 0px 0px rgb(243, 248, 247);
    font-weight: 600;
    height: 3vh;
    padding: 0.2rem 1rem;
    position: absolute;
    top: 70%;
    right: 80%;
    display: none;
}

.edit-profile-button:hover+.edit-profile-text {
    display: block;

}

.logout-button-div {
    position: relative;


}

.userCard-logout-button {
    background-color: black;
    color: gold;
    font-weight: bolder;
    font-size: 0.9rem;
    border-radius: 3rem;
    cursor: pointer;
    margin-left: 0.6rem;
    font-size: 1.3rem;
    font-weight: 900;

}

.logout-text {
    background-color: rgb(243, 248, 247);
    box-shadow: 2px 2px 0px 0px rgb(243, 248, 247);
    font-weight: 600;
    height: 3vh;
    padding: 0.2rem 1rem;
    position: absolute;
    top: 70%;
    left: 80%;
    display: none;
}

.userCard-logout-button:hover+.logout-text {
    display: block;
}

.userCard-bio-div {
    text-align: left;
}



.userCard-bio-Link {


    color: black;
    background-color: rgb(248, 238, 238);
    border-radius: 1rem;
    align-self: center;
    padding: 0.2rem;
    margin-left: 0.5rem;
    font-weight: 500;
    font-size: small;
    text-decoration: none;

}

.followers-div {
    display: flex;
    justify-content: center;

}

.followers-component-div {
    position: absolute;
    top: 10%;
    right: 18%;
    box-shadow: 1px 1px 2px 2px black;
    z-index: 2;
    background-color: white;

}

.following-component-div {
    position: absolute;
    top: 10%;
    right: 18%;
    box-shadow: 1px 1px 2px 2px black;
    z-index: 2;
    background-color: white;

}

.followers-childs {
    margin-left: 3rem;

    margin-top: 0rem;
    font-weight: 500;
    cursor: pointer;
}

.followers-childs:nth-child(1) {
    margin-left: 0rem;

}

.userCard-hr {
    width: 100%;

    margin: 0.7rem 0rem;
}

.userCard-about-div {
    text-align: left;
}

.userCard-about-heading {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
}

.contact-detail-div {
    text-align: left;
}

.contact-detail-heading {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
}