html{
    font-size: 100%;
}
.signup-main-div{
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    margin-top: 1.5rem;
    min-height: 100vh;
    width: 100vw;


}
.signup-small-div{
    width: 30%;
    
}
.signup-heading{
display: flex;
justify-content: center;
align-items: center;
}
.signup-heading>h2{
   font-style: oblique;
    }
.up-text-signup{
    color: gold;
    padding: 0rem 0.7rem;
    padding-bottom: 0.5rem;
    background-color: black;
    border-radius: 50%;
}

.signup-text-div{
    font-style: oblique;
    margin-top: 1rem;
}

.signup-input-div{
    margin: 0rem;
    margin-bottom: 0.2rem;
}
.signup-input-div>fieldset{
    width: 70%;
    margin: auto;
    border: 0;
    
 
 }
.signup-input-div>fieldset>input{
   width: 100%;
   padding: 0.5rem;

}

.signup-input-div>fieldset>legend{
    text-align: left;
    font-weight: 500;
   


}
.signup-button-div>button{
    padding: 0.5rem;
    border: none;
    background-color: black;
    color:  gold;
    border-radius: 2rem;
    font-size: 1.2rem;
    cursor: pointer;


}


.signuppage-login-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.4rem;
}



@media screen and (max-width: 900px) {
    .signup-small-div{
        width: 50%;
    }
  }
  @media screen and (max-width: 700px) {
    .signup-small-div{
        width: 70%;
    }
  }
  @media screen and (max-width: 500px) {
    .signup-small-div{
        width: 90%;
    }
  }