.App {
  text-align: center;

}


.content-div{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
 

}
.sideBar-div{
  margin-top: 5.5rem;
  background-color: rgb(243, 250, 250);
  box-shadow: 2px 1px 1px 1px  rgb(232, 240, 240);
  height: 100%;

}

.routes-div{
  height: 100%;
  margin-top: 5rem;
  width: 100%;
}
.userfeed-app-div{
  margin-top: 5.5rem;
  background-color: rgb(243, 250, 250);
  box-shadow: 2px 1px 1px 1px  rgb(232, 240, 240);
  height: 100%;



}




@media screen and (max-width: 1150px) {
  .content-div{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
   
  
  }
}
@media screen and (max-width: 900px) {
  .content-div{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
   
  
  }
}
@media screen and (max-width: 750px) {
  .content-div{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
   
  
  }
}